<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>704327940665-1ivl0sran81hpi44s6d694o3h106ls7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704327940665-1ivl0sran81hpi44s6d694o3h106ls7u</string>
	<key>API_KEY</key>
	<string>AIzaSyCIJxP_EpqirIDWmYZ7J5lxV-u2a133aks</string>
	<key>GCM_SENDER_ID</key>
	<string>704327940665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webuilding.mittens</string>
	<key>PROJECT_ID</key>
	<string>mittens-eb285</string>
	<key>STORAGE_BUCKET</key>
	<string>mittens-eb285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:704327940665:ios:36f88bfdd808cc7a</string>
	<key>DATABASE_URL</key>
	<string>https://mittens-eb285.firebaseio.com</string>
</dict>
</plist>